Introduccion

Se denominan colecciones y son estructuras que nos permite almacenar datos.

En **PYTHON** existen varios tipo de colecciones:
Listas
Tuplas
Conjuntos
Diccionarios

**LISTAS**

Las listas son similares a los arreglos en JS y nos permiten acceder a sus elementos a traves de sus indices.

## CREACIÓN Y ACCESO

Utilizan corchetes para la creación y acceso a sus elementos.

In [ ]:
lenguajes = ["Python", "Java", "JavaScript", "C#"]
print(lenguajes)
print (lenguajes[0])
print (lenguajes[1])
print (lenguajes[2])
lenguajes [0] = "PHP" #Cambiso el primer valor de la lista a PHP
print(lenguajes) #Las listas son mutables, es decir, podemos cambiar el contenido de la lista

['Python', 'Java', 'JavaScript', 'C#']
Python
Java
JavaScript
['PHP', 'Java', 'JavaScript', 'C#']

In [ ]:
numeros = [3,4,5,6,7,8,9]
res = numeros [-3] + numeros [5]
print (res)

15

#Otra forma alternativa de crear listas es con la función **list**

In [ ]:
mi_lista = list('1234567')
print(mi_lista)
milista_enteros = [int (x) for x in mi_lista] #Forma para pasar los numeros a enteros
print(milista_enteros)

['1', '2', '3', '4', '5', '6', '7']
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
mi_lista = list('1234567')
lista_final = []

for x in mi_lista: #A medida que se va recorriendo el ciclo se va llenado la lista
  lista_final.append(int(x)) #Append es colocar el dato siguente, imprime la lista igual mente

print(lista_final)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
ml = list( range(1,20))
print(ml) #Va hasta el 19 porque va hasta el ultumo valor, en este caso 19

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Una lista en python puede almacenar cualquier tipo de dato, incluso tambien puede almacenar listas.

In [ ]:
mi_lista = [2, 3.5, True, "sena", ["3", "8", "a", 5] ]
print (mi_lista)

[2, 3.5, True, 'sena', ['3', '8', 'a', 5]]

In [ ]:
mi_lista = [1,2,3, ['p', 'q', [5,6,7]]]

print(mi_lista[-1][-1][-2]) #Hay que tener en cuenta el conceptos de slicing y las posiciones

6

In [ ]:
mi_lista = list(range(1,10))
print(mi_lista)
print(mi_lista[1:4])
print(mi_lista[:2])
print(mi_lista[7:])
print(mi_lista[-5:-1])
print(mi_lista[-3:])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4]
[1, 2]
[8, 9]
[5, 6, 7, 8]
[7, 8, 9]

In [ ]:
mi_lista = [1,2,3,4,5]
mi_lista [0:3] = ["a", "b", "c"] #Del 0 al cero decimos que lo vamos a hacer con esos valores e imprime el resto
print(mi_lista)

['a', 'b', 'c', 4, 5]

In [ ]:
mi_lista = [1, 2, 3, 4, 5]
mi_lista = mi_lista + [6]
print(mi_lista)
mi_lista = mi_lista + [7,8,9]
print(mi_lista)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
mi_lista = [1,2,3]
x,y,z = mi_lista
print(f"Valor de x:{x}")
print(f"Valor de y:{y}")
print(f"Valor de z:{z}")

Valor de x:1
Valor de y:2
Valor de z:3

#Eliminación e inserción

Para elimninar los elementos de una lista utilizamos una palabra reservada.

In [ ]:
lenguajes = ["Python", "Java", "JavaScript"]
del lenguajes [1]
print(lenguajes)

['Python', 'JavaScript']

Expliquemos como insertar datos con la funcion **Insert** y al final de la lista con **apend**

In [ ]:
lenguajes = ["python", "java","javascript"]
lenguajes.append("C#")
lenguajes.append("Ruby")
lenguajes.insert(1,"c++")
print(lenguajes)

['python', 'c++', 'java', 'javascript', 'C#', 'Ruby']

In [ ]:
lista = ["Cosa", "Casa", "Ala"]
lista.sort() #Nos permite ordenar de forma alfabetica o tambien puede ser con numeros
print(lista)

['Ala', 'Casa', 'Cosa']

Para saber si un elemento se encuentra dentro de una lista **in**

In [ ]:
lenguajes =["Python", "Java", "JavaScript"]
print("Python" in lenguajes)
print("C++" in lenguajes) #Nos devuelve un valor booleano donde analiza la cadena si existe el dato que se pide

True
False

# Recorrido de **Listas**

Como las listas son objetos iterables a las que podemos recorrer un ciclo for

In [ ]:
numeros = [1,2,3,4,5]
print(numeros)
for n in numeros:
  print(n)

[1, 2, 3, 4, 5]
1
2
3
4
5

Podemos recorrer la lista utilizando el modelo **len**

In [ ]:
mi_lista = [4,5,6,7]
for indice in range(0, len(mi_lista)):
  print(mi_lista[indice])

4
5
6
7

Podemos acceder al indice de cada elemnto a traves de la funcion **enumerante**

In [ ]:
numeros = [3,29,42,34,54]
for x , y in enumerate(numeros):
  print(f"En la pocision x {x} ENCONTRAMOS EL VALOR: {y}")

En la pocision x 0 ENCONTRAMOS EL VALOR: 3
En la pocision x 1 ENCONTRAMOS EL VALOR: 29
En la pocision x 2 ENCONTRAMOS EL VALOR: 42
En la pocision x 3 ENCONTRAMOS EL VALOR: 34
En la pocision x 4 ENCONTRAMOS EL VALOR: 54

In [ ]:
letras = ["A", "B", "C", "D", "E"]
for indice,valor in enumerate(letras):
  print(f"En la pocision x {indice} ENCONTRAMOS EL VALOR: {valor}")

En la pocision x 0 ENCONTRAMOS EL VALOR: A
En la pocision x 1 ENCONTRAMOS EL VALOR: B
En la pocision x 2 ENCONTRAMOS EL VALOR: C
En la pocision x 3 ENCONTRAMOS EL VALOR: D
En la pocision x 4 ENCONTRAMOS EL VALOR: E

In [ ]:
lista = [2, 35, 76, 23]
ind = 0
while ind < len(lista):
  print(lista[ind])
  ind += 1

2
35
76
23

se cuentan con dos listas y se desean recorrer de manera simultanea mostrando el valor de las dos en cada posicion. ¿Ayudarias a terminara el codigo de tal manera que se obtenga el siguiente resultado?

ma-pa

me-pe

mi-pi

mo-po

mu-pu

In [ ]:
lista_ma = ["ma","me","mi","mo","mu"]
lista_pa = ["pa","pe","pi","po","pu"]
for indice, ma in enumerate(lista_ma):
  pa = lista_pa[indice]
  print(f"{ma}-{pa}")

ma-pa
me-pe
mi-pi
mo-po
mu-pu

In [ ]:
lista_ma = ["ma","me","mi","mo","mu"]
lista_pa = ["pa","pe","pi","po"]

for i in range(min(len(lista_ma), len(lista_pa))):
  print((lista_ma[i] + "-" + lista_pa[i]))

ma-pa
me-pe
mi-pi
mo-po

In [ ]:
lista_ma = ["ma","me","mi","mo","mu"]
lista_pa = ["pa","pe","pi","po"]
lista_pu = ["pu","pu","pu","pu""pu"]
lista_ta = ["ta","te","ti","to","tu"]
for x in zip(lista_ma,lista_pa,lista_pu,lista_ta):
  print(x)

con la funcion *ZIP* podemos iterar varias filas simultaneamnete

# METODOS APLICABLES A LISTAS

eL METODO **SORT()** QUE NO PERMITE ORDENAR LOS ELEMENTOS

In [ ]:
mi_lista = [5,10,8,3,1,52]
mi_lista.sort()
print(mi_lista)

[1, 3, 5, 8, 10, 52]

In [ ]:
mi_lista = [5,10,8,3,1,52]
mi_lista.sort(reverse = True) #Ordena de forma descendente
print(mi_lista)

[52, 10, 8, 5, 3, 1]

El metodo **remove()** resibe como argumento un objeto y lo borra de la lista

In [ ]:
lenguajes = ["python","Java", "Javascript"]
lenguajes.remove("Java")
print(lenguajes)

['python', 'Javascript']

si utilizo **del** debo utilizar la posicion para eliminar un elemento, si utilizo **remove** puedo utilizar directamente el elemento que voy borrar

In [ ]:
lenguajes = ["python","Java", "Javascript"]
del lenguajes[1]
print(lenguajes)

['python', 'Javascript']

El metodo **reverse()** invierte el contenido de la lista

In [ ]:
lenguajes = ["python","Java", "Javascript"]
lenguajes.reverse()
print(lenguajes)

['Javascript', 'Java', 'python']

In [ ]:
cadena = "HOLA MUNDO SENA"
print (cadena[::-1])#Nos permite invertir cadenas

ANES ODNUM ALOH

In [ ]:
cadena = "HOLA MUNDO SENA"
lista = list(cadena) #Lo podemos usar para imprimirlo en una lista.
print(lista)
lista.reverse()
print(lista)
cadena = "".join(lista) #Lo podemos usar para imprimirlo en una sola cadena.
print(cadena)

['H', 'O', 'L', 'A', ' ', 'M', 'U', 'N', 'D', 'O', ' ', 'S', 'E', 'N', 'A']
['A', 'N', 'E', 'S', ' ', 'O', 'D', 'N', 'U', 'M', ' ', 'A', 'L', 'O', 'H']
ANES ODNUM ALOH

**Otros métodos para listas**

clear()
Vacia todos los items de una lista:
lista.clear()
[]

extend()
Une una lista a otra:
l1 = [1,2,3]
l2 =
l1

# Tuplas

**Generalidades**

In [ ]:
mi_tupla = ("a","b","c","d")
print(type(mi_tupla))
print(mi_tupla[1])
print(mi_tupla[1:3])
print(mi_tupla[:-1])

<class 'tuple'>
b
('b', 'c')
('a', 'b', 'c')

In [ ]:
mi_tupla = ("a","b","c","d")
mi_tupla [0] = "z"
print(mi_tupla)

TypeError: 'tuple' object does not support item assignment

In [ ]:
mi_tupla = (10, "hola", [1,2,3], -50)
print(mi_tupla[2][-1])
mi_tupla = (100, "hola", (1,(200, 'D', ["x", "y","z" ])),(1,2,3), -50)
print(mi_tupla[2][1][2][-2])

3
y

In [ ]:
mi_tupla = (1,2,3,4,5,6,7,8,9,45,67,58,768,435)
print(mi_tupla.count(2))

1

In [ ]:
mi_tupla = (1,2,3,4,5,6,7,8,9,45,67,58,768,435)
mi_tupla.sort()
print(mi_tupla)

AttributeError: 'tuple' object has no attribute 'sort'

In [ ]:
mi_tupla = tuple("amoamimama")
print(mi_tupla)

('a', 'm', 'o', 'a', 'm', 'i', 'm', 'a', 'm', 'a')

In [ ]:
mi_tupla = tuple (input ("INGRESE UNA FRASE"))
print(mi_tupla)
print(f"La cantidad dfe elementos que tiene la tupla es:{len(mi_tupla)}")
for dato in mi_tupla:
  print(dato)

INGRESE UNA FRASEjgsakd,fs
('j', 'g', 's', 'a', 'k', 'd', ',', 'f', 's')
La cantidad dfe elementos que tiene la tupla es:9
j
g
s
a
k
d
,
f
s

# Paso de tupla a lista y de lista a tupla

de lista a tupla

In [ ]:
mi_lista = [1,2,3,4,5]
mi_tupla = tuple(mi_lista)
print(mi_tupla)

(1, 2, 3, 4, 5)

In [ ]:
mi_tupla = (1,2,3,4,5)
mi_lista = list(mi_tupla)
print(mi_lista)

[1, 2, 3, 4, 5]

In [ ]:
mi_tupla = (3,4,5,6,26,74,36,10,46,3)
mi_lista = list(mi_tupla)
mi_lista.sort()
mi_tupla = tuple(mi_lista)
print(mi_tupla)

(3, 3, 4, 5, 6, 10, 26, 36, 46, 74)

# APROPIACION
Pregunte al usuario cuántos elementos desea ingresar en una lista, luego solicite cada uno de ellos y presente el contenido de la lista y su contenido invertido.

Crear una lista de números y solicitar un número. Borrar de la lista ese número en todas las posiciones donde se encuentre. Presentar la lista final


Solicite al usuario dos(2) frases y devuelva una lista con todas las letras que se repiten en la misma posición de ambas listas
ejemplo: frase1: "holasena" frase2: "todogana" salida: ["o","n", "a"]

In [ ]:
num_elementos = int(input("¿Cuántos elementos desea ingresar en la lista? ")) #Primero solicitamos la cantidad de elementos que desea ingresar a la lista el usuario


mi_lista = [] #Creamos una lista vacia donde guardaremos los elementos que el usuario ingrese

for _ in range(num_elementos): #Usamos el simbolo de _ porque no necesitamos usar el valor que ingresamos en el contador del ciclo, sino que queremos que se repita un numero de veces.
    elemento = input("Ingrese un elemento: ")
    mi_lista.append(elemento) #Usamos append para que el elemento que el usuario ingrese sea añadido a la lista

print("Lista :", mi_lista)

lista_invertida = mi_lista[::-1] #Invertimos la lista

print("Lista invertida:", lista_invertida)

¿Cuántos elementos desea ingresar en la lista? 2
Ingrese un elemento: hol
Ingrese un elemento: kj
Lista : ['hol', 'kj']
Lista invertida: ['kj', 'hol']

In [ ]:
lista = [1,2,3,4,5,4,2,9,5,4,3,6,7,1,2,3,4,5,9,30,45,30,2,4,3,5,1,2,6,7,8,7,6,4,1,2,3,6,7,2]
for x in lista:
  if x == 2:
    lista.remove(x)
print(lista)

[1, 3, 4, 5, 4, 9, 5, 4, 3, 6, 7, 1, 3, 4, 5, 9, 30, 45, 30, 4, 3, 5, 1, 6, 7, 8, 7, 6, 4, 1, 3, 6, 7]

In [ ]:
frase_1 = input("Ingrese una frase: ")
frase_2 = input("Ingrese una frase: ")
letras_repetidas = []

for comparar in range(min(len(frase_1), len(frase_2))):
  if frase_1[comparar] == frase_2[comparar]:
    letras_repetidas.append(frase_1[comparar])
  print("Las letras repetidas de ambas frases son : ", letras_repetidas)

Ingrese una frase: josefa
Ingrese una frase: josefu
Las letras repetidas de ambas frases son :  ['j']
Las letras repetidas de ambas frases son :  ['j', 'o']
Las letras repetidas de ambas frases son :  ['j', 'o', 's']
Las letras repetidas de ambas frases son :  ['j', 'o', 's', 'e']
Las letras repetidas de ambas frases son :  ['j', 'o', 's', 'e', 'f']
Las letras repetidas de ambas frases son :  ['j', 'o', 's', 'e', 'f']